.card {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cardGrid {
  padding-top: 8px;
  padding-bottom: 8px;
}

.cardMedia {
  height: 100px;
  width: 100px;
  /* padding-top: 56%; */
}

.searchBar {
  margin-bottom: 30px;
}
